{% extends 'base.jinja2' %}
{% block content %}
<h1>WELCOME TO YOUR BLOG</h1>
<h2>POSTS:</h2>

<ul>
  {% for post_id, post in posts.items() %}
  <li>
    <a href="{{url_for('post', post_id = post_id)}}">{{post['title']}}</a>
  </li>
  {% endfor %}
</ul>

<a href="{{url_for('create')}}">Create New Blog Post</a>
{% endblock %}